/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body{
    background-color: #FBF5FF;
}
.container {
    text-align: center;
}
md-list{
    max-width: 350px;
    min-width: 300px;
    margin: 0 auto;
}
md-list-item{
    border-bottom: 1px solid #ccc;
}
md-list-item h4{
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mat-icon{
    font-size: 22px;
}
.delete, .build, .check{
    transition: color .3s;
    cursor: pointer;
}
.delete:hover{
    color: red;
    transition: color .3s;
}
.build:hover{
    color: #888;
    transition: color .3s;
}
.check:hover{
    color: #00C500;
    transition: color .3s;
}
.mat-tooltip{
    word-break: break-all;
}