<div class="container">
  <form>
    <md-form-field class="example-full-width">
      <input mdInput placeholder="Name"
      #name
      [formControl]="nameControl"
      (keyup.enter)="addTodo(name.value);name.value=''">
      <md-error *ngIf="nameControl.hasError('required')">
          Name is <strong>required</strong>
      </md-error>
    </md-form-field>
  </form>
  <md-list>
    <md-list-item *ngFor="let todo of todos let i=index">
      <md-icon class="delete" (click)="deleteTodo(todo)">delete</md-icon>
      <md-icon class="build" (click)="editTodo(todo)">build</md-icon>
      <h4 *ngIf="!todo.editable">{{ todo.name }}</h4>
      <md-form-field *ngIf="todo.editable" class="example-full-width">
          <input mdInput
          name="rename-{{i}}"
          [(ngModel)]="todo.name"
          #newName="ngModel"
          (keyup.enter)="renameTodo(todo, newName.value);newName.value=''">
          <md-error *ngIf="renameControl.hasError('required')">
          </md-error>
        </md-form-field>
    </md-list-item>
  </md-list>
  
</div>